<div class="container">
    <div class="d-flex flex-row justify-content-between py-3 bg-dark text-light">
    <h1 class="pl-2 pl-md-3">Product Master</h1>
  
    <a href="#" routerLink="/product/create/" class="btn btn-success m-2">Create New Product</a>
  </div>
    <table class="table table-hover table-striped table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>CATEGORY ID</th>
        <th width="230px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products
      | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
      ">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.categoryId }}</td>
        <td>
          <a href="#" [routerLink]="['/product/', product.id, 'view']" class="btn btn-info mr-1 mb-1">View</a>
          <a href="#" [routerLink]="['/product/', product.id, 'edit']" class="btn btn-primary mr-1 mb-1">Edit</a>
          <button type="button" (click)="deleteProduct(product.id)" class="btn btn-danger  mb-1">Delete</button>
        </td>
      </tr>
    </tbody>
    </table>
    <div class="col-md-12 my-3">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        responsive="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>
 </div>